@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* color tokens */
  --color-black-bg: #010104;
  --color-black-text: #040316;
  --color-black-primary: #000000;

  --color-white-bg: #fbfbfe;
  --color-white-primary: #ffffff;
  --color-white-text: #eae9fc;

  --color-purple-secondary: #6b26d9;
  --color-purple-accent: #6b26d9;
}
